@using Resort.Application.Utility
@{
    var status = Context.Request.Query["status"];
    var pending = "";
    var approved = "";
    var checkedIn = "";
    var completed = "";
    var cancelled = "";
    
    switch (status)
    {
        case SD.Pending:
            pending = "text-white bg-info";
            break;
        case SD.Approved:
            approved = "text-white bg-info";
            break;
        case SD.CheckedIn:
            checkedIn = "text-white bg-info";
            break;
        case SD.Completed:
            completed = "text-white bg-info";
            break;
        case SD.Cancelled:
            cancelled = "text-white bg-info";
            break;
        default:
            break;
          
    }
 
    // advanced code after c# v.8.0

    //     Switch with when Guards
    // You can add conditional logic with when.
    // int value = 7;
    // string outcome = value switch
    // {
    //     1 => "One",
    //     2 => "Two",
    //     _ when value % 2 == 0 => "Even",
    //     _ => "Odd"
    // };
    // Console.WriteLine(outcome); // Outputs: Odd
}

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Booking List</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <div class="d-flex justify-content-end pb-4 pt-2">
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index"
                    asp-route-status="@SD.Pending">
                    <li class="list-group-item @pending"> @SD.Pending </li>
                </a>
                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index"
                   asp-route-status="@SD.Approved">
                <li class="list-group-item @approved"> @SD.Approved </li>
                </a>
                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index"
                   asp-route-status="@SD.CheckedIn">
                <li class="list-group-item @checkedIn"> @SD.CheckedIn </li>
                </a>
                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index"
                   asp-route-status="@SD.Completed">
                <li class="list-group-item @completed"> @SD.Completed </li>
                </a>
                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index"
                   asp-route-status="@SD.Cancelled">
                <li class="list-group-item @cancelled"> @SD.Cancelled </li>
                </a>
            </ul>
        </div>
        <table id="tblBookings" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Check In Date</th>
                    <th>Nights</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

@section Scripts {

        <script src="~/js/booking.js"></script>
 
}
